{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block content %}

    <section class="section">
        <div class="container">

            <h1 class="title">List of Items</h1>
            <div class="field is-grouped">
                <div class="control">
                    <div class="select is-rounded">
                        <select id="category-filter">
                            <option value="">All Categories</option>
                            <option value="Monitor">Monitor</option>
                            <option value="ComputerComponent">Computer Component</option>
                            <option value="Clothing">Clothing</option>
                            <option value="Snack">Snack</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="columns is-multiline" id="items_container">
                {% include 'items_ajax.html' %}
            </div>

        </div>
    </section>

{% endblock %}
{% block script %}
    <script>
        // filter items by category
        function filterItems() {
            const category_filter = document.querySelector('#category-filter').value;

            $.ajax({
                url: '/items_ajax',
                type: 'GET',
                contentType: 'application/json',
                data: {category_filter: category_filter},
                success: function (response) {
                    // handle the response from the server
                    $('#items_container').html(response);
                },
                error: function (xhr, status, error) {
                    // handle any errors that occur
                    console.error('Filter Failed');
                }
            });

        }

        // add event listeners to filters
        document.querySelector('#category-filter').addEventListener('change', filterItems);
    </script>
{% endblock %}